<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="">
        <form action="/" method="post">
            <label for="url">Enter URL here:</label>
            <input type="text" name="url" id="url" required>
            <label for="custom-url-checkbox">Custom shortened URL</label>
            <input type="checkbox" name="custom-url-checkbox" id="custom-url-checkbox" onclick="urlCheckboxValidation(this)">
            <label for="custom-url">Enter custom URL:</label>
            <input type="text" name="custom_url" id="custom-url" disabled=true>
            <input type="submit" value="Submit">
        </form>
        <% if(locals.message) { %>
            <p class="url-output"><%= message %> </p> 
        <% } %> 
    </div>
<%- include('./partials/footer.ejs') %>
<script src="./urlFromValidation.js"></script>
</body>
</html>